    body{
    	background-image:url(back.jpg);}
    	.container {width: 30%;
      	margin-top: 5%;
      	padding-bottom: 10px;
      	padding-top: 10px;
      	border-radius: 30px;
      	background-repeat: no-repeat;
      	align-content: center;
      	align-items: center;
      	text-align: center;
      	justify-content: center;
      	display: flex;
    }
    p{
    	font-size: 20px;

    }

    .text{
    	font-family: arial;
		margin-left: 100px;
		color: white;
	}
	
	.box {
		background-color: #262222;
		height: 70px;
		width: 100%;
	  	color: white;
	  	justify-content: center;
	  	display: flex;
	}

	.box2{
		background-color: ;
		border-color: #262222;
		border: black;
	  	width:80%;
	  	height: 100%;
	  	padding-left: 10%;
	  	padding-right: 10%;
	  	padding-top: 10%;
		color: white;
		align-content: center;
      	align-items: center;
      	text-align: center;
      	justify-content: center;
      	display: flex;
	}