  body{
  background:none;
  margin: 0;
  color: gray;
  font-family: calibri;
  background-image: url('back.jpg');
}
input:invalid{
  background: pink;
}
.container{
  background: none;
  width:100%;
  height:100%;
  padding:15px;
  position: absolute;
  
  top:1%;
  border-radius: 5px;
}
.input-form{
  width:30%;
  background:#C5C5C5;
  margin:0.9%;
  padding:10px;
  border: none;
  margin-left: 440px;
    border-radius: 5px;}

.input-formm{
  width:30%;
  background:#C5C5C5;
  margin:0.9%;
  padding:10px;
  border: 10px;
  margin-left: 440px;
  border-color: grey;
  border-radius: 5px;

}
.input-form-number{
  width:7,5%;
  background:#C5C5C5;
  margin:0.9%;
  padding:10px;
  border: 10px;
  margin-left: 440px;
  border-color: grey;
  border-radius: 5px;

}
.input-formm-number{
  width:7,5%;
  background:#C5C5C5;
  margin:0.9%;
  padding:10px;
  border: 10px;
  margin-left: 30px;
  border-color: grey;
  border-radius: 5px;
}

.text{margin-left:  580px;}
.input-form-value{
   width:30%;
  background:#C5C5C5;
  margin:0.9%;
  padding:10px;
  border: 10px;
  margin-left: 440px;
  border-color: grey;
  border-radius: 5px;
}
.btn-form-change{
  color:white;
  background: #ff6868;
  font-weight: bold;
  border:none;
  border-radius:50px;
  padding:15px;
  margin:10px;
  width: 35%;
  float:left;
  margin-left: 20px;
  cursor: pointer;
}
.btn-form-pay{
  color:white;
  background-color: #2A2B2B;
  font-weight: bold;
  border:none;
  border-radius:30px;
  padding:15px;
  margin:10px;
  width: 10%;
  margin-left: 575px;
  cursor: pointer;
}
.btn-form-pay:hover{
  background:#525656;
}
.btn-form-change:hover{
  background: #fc7979;
}
table {
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    background: white;
}

th:hover {
  box-shadow:2px 0px 10px 0px #F4F4F4;
  border: 1px solid #68a2ff;
}
th{
  border: 1px solid #F4F4F4;
}
@media only screen and (max-width: 700px) {
    .container{
      width:80%;
      left:6%;
    }
    .input-form-value{
      width:49%;
    }
}

