body {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('back.jpg');  
}
button{
  list-style: none;
  display: inline-block;
  height: 50px;
  width: 200px;
  background:black;
  border-radius: 5px;
}
header{
  background-color: black;
  height: 70px;
  width: 100%;
  color: white;
  font-family: arial;
  text-align: center;
  line-height: 50px;
    }

ul {
  padding: 0;
  margin-top: 40px;
  text-align: center;
  font-size: 1.1em;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
  margin: 2px 0;
  background: orange;
  border-radius: 5px;
}

ul li a {
  color: white;
  text-decoration: none;
}

h1 {
  margin: 10px;
  text-align: center;
}

h2 {
  margin: 10px;
}

p {
  margin-left: 10px;
}

.planet-container {
  position: relative;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-view {
  padding: 10px;
}

.planet-view.ng-animate {
  transition: all ease 0.4s;
  position: absolute;
}

.planet-view.ng-enter {
  top: 200px;
  opacity: 0;
}

.planet-view.ng-leave,
.planet-view.ng-enter.ng-enter-active {
  top: 0;
  opacity: 1;
}

.planet-view.ng-leave.ng-leave-active {
  top: -200px;
  opacity: 0;
}